h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Merriweather", "Sarabun", sans-serif;
  font-weight: 700;
}

p,
span,
button,
input,
article,
section {
  font-family: "Roboto", "Sarabun", sans-serif;
}

.page-layouts {
  @apply grid w-full place-items-center gap-12 px-4 py-16 md:my-24 md:px-32 md:py-0;
}

.article-title {
  font-family: "Taviraj", "Sarabun", sans-serif;
}
