:root {
    --bg-color: #250b3b;
    --text-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6, header {
    font-family: "Merriweather", sans-serif;
    line-height: 0;
    color: var(--text-color);
}

p, span, button, input, article, section {
    font-family: "Roboto", sans-serif;
    line-height: 0;
    color: var(--text-color);
}