html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Urbanist", "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 700;
}

p,
span,
button,
input,
article,
section {
  font-family: "Urbanist", "IBM Plex Sans Thai Looped", sans-serif;
}

.page-layouts {
  @apply grid w-full place-items-center gap-12 px-2 py-8 md:px-16 xl:my-8 xl:px-52 xl:py-0;
}

.article-title {
  font-family: "Noto Serif Thai", serif;
  font-weight: bold;
}
