@tailwind base;
@tailwind components;
@tailwind utilities;

.page-layouts {
  @apply grid w-full place-items-center gap-12 px-4 py-16 md:my-24 md:px-32 md:py-0;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Merriweather", "Sarabun", sans-serif;
  font-weight: 700;
}

p,
span,
button,
input,
article,
section {
  font-family: "Roboto", "Sarabun", sans-serif;
}

.article-title {
  font-family: "Taviraj", "Sarabun", sans-serif;
}

.nav-btn {
  @apply h-full w-full rounded-lg bg-black/40 p-3 text-lg duration-200 hover:bg-black/60;
}
.nav-btn--active {
  @apply h-full w-full rounded-lg bg-black/75 p-3 text-lg;
}

.ais-SearchBox,
.ais-SearchBox-form {
  @apply my-2 flex w-full flex-row gap-2;
}
.ais-SearchBox-input {
  @apply input-primary input w-full;
}
.ais-SearchBox-submit {
  @apply btn-primary btn-circle btn;
}
.ais-SearchBox-reset {
  @apply btn-error btn-circle btn;
}
.ais-SearchBox-submit,
.ais-SearchBox-reset > svg {
  @apply invert;
}
.ais-Hits-list {
  @apply grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3;
}

.content h1 {
  font-size: unset;
  font-family: "Taviraj", "Sarabun", sans-serif;
  @apply text-3xl font-bold lg:text-4xl;
}
.content h2 {
  font-size: unset;
  font-family: "Taviraj", "Sarabun", sans-serif;
  @apply text-2xl font-bold lg:text-3xl;
}
.content h3 {
  font-size: unset;
  font-family: "Taviraj", "Sarabun", sans-serif;
  @apply text-xl font-bold lg:text-2xl;
}
.content blockquote {
  @apply border-l-4 border-white/20 bg-white/10 p-4 text-lg lg:text-xl;
}
.content img {
  @apply mx-auto my-2 max-h-[65vh] max-w-full rounded-xl object-cover;
}
.content img {
  @apply mx-auto my-2 max-h-[65vh] max-w-full rounded-xl object-cover;
}
.content figcaption {
  @apply text-center italic text-gray-400 pb-4;
}
.content p > a {
  text-decoration: unset;
  text-decoration: underline;
  font-weight: 700;
}
.content ul > li > a {
  text-decoration: unset;
  text-decoration: underline;
  font-weight: 700;
}
.content ul {
  @apply list-inside list-disc;
}
.content iframe {
  @apply mx-auto max-w-full rounded-xl;
}
.title {
  font-size: unset;
  font-family: "Taviraj", Tahoma, sans-serif;
  @apply text-4xl font-bold lg:text-6xl;
}
.subtitle {
  font-size: unset;
  font-family: "Taviraj", Tahoma, sans-serif;
  @apply text-lg lg:text-xl;
}

.loading {
  z-index: 999999;
  @apply fixed top-0 left-0 w-full h-full bg-black/50 flex flex-col items-center justify-center;
}

.loading > svg {
  @apply animate-spin text-white;
}